<div>
    <a href="http://pragatienter.com/web-node/admin-console/#/"><h3>Home</h3></a> &nbsp; &nbsp;
    <a href="http://pragatienter.com/web-node/admin-console/#/product-list"><h3>Product List</h3></a> &nbsp; &nbsp;
    <a href="http://pragatienter.com/web-node/admin-console/#/add-product"><h3>Add Product</h3></a> &nbsp; &nbsp;
    <a href="http://pragatienter.com/web-node/admin-console/#/image-upload"><h3>Image Upload</h3></a> &nbsp; &nbsp;
    <a href="http://pragatienter.com/web-node/admin-console/#/image-list"><h3>Image List</h3></a> &nbsp; &nbsp;
    <a href="http://pragatienter.com/web-node/admin-console/#/category-list"><h3>Category List</h3></a>
</div>
<br>
<br>